<li id="event-<%= user.id %>">
  <%= link_to gravatar_for(user), user %>
  <span class="user"><%= link_to user.name, user %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(user.created_at) %> ago.
  </span>
</li>
