// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media {
  display: flex;

  img  {
    margin-right: 20px;
  }
  .btn, span  {
    margin-right: 20px;
  }
  .btn-primary  {
    a {
      text-decoration: none;
      color: white;
    }
  }
  h4 {
  margin: 20px 0 ;
  }
}
